doctype html
html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(name='theme-color' content='#4DA5F4')
    meta(name='csrf-token', content=_csrf)
    link(rel='icon' href='/images/favicon.ico')
    title Menorca
    //template
    meta(name='description' content="Ventana homepage. Accede a toda la información de tus inmuebles sin salir de tu casa, de una manera segura y accesible desde tu pc o celular.")
    // Custom CSS
    // Global site tag (gtag.js) - Google Analytics
    script(async='' src='https://www.googletagmanager.com/gtag/js?id=G-ZVVDWCV3RP')
    script.
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'G-ZVVDWCV3RP');
    link(href='/css/style.min.css' rel='stylesheet')
    // HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries
    // WARNING: Respond.js doesn't work if you view the page via file://
    //if lt IE 9
    script(src='https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js')
    script(src='https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js')
    script(src="https://www.google.com/recaptcha/api.js" async defer)
    //template ends
    link(rel='stylesheet' href='/css/login-signup.css')
    link(rel='stylesheet' href='/css/angel-style.css')

body  
  .preloader
    .lds-ripple
      .lds-pos
      .lds-pos  
  #main-wrapper
    include partials/header
    include partials/left-sidebar
    include partials/flash
    block content
    
    include partials/footer
    
    //template
    script(src='/assets/libs/jquery/dist/jquery.min.js')
    // Bootstrap tether Core JavaScript
    script(src='/assets/libs/popper.js/dist/umd/popper.min.js')
    script(src='/assets/libs/bootstrap/dist/js/bootstrap.min.js')
    // apps
    script(src='/js/scripts/app.min.js')
    script(src='/js/scripts/app.init.js')
    script(src='/js/scripts/app-style-switcher.js')
    // slimscrollbar scrollbar JavaScript
    script(src='/assets/libs/perfect-scrollbar/dist/perfect-scrollbar.jquery.min.js')
    script(src='/assets/extra-libs/sparkline/sparkline.js')
    // Wave Effects
    script(src='/js/scripts/waves.js')
    // Menu sidebar
    script(src='/js/scripts/sidebarmenu.js')
    // Custom JavaScript
    script(src='/js/scripts/custom.min.js')
    //template ends
    script(src='/js/main.js')
    script(src='https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.2/axios.min.js')
    script(type="text/javascript" src="//cdn.jsdelivr.net/momentjs/latest/moment.min.js")
    if (user)
      script.
        window.watsonAssistantChatOptions = {
            integrationID: "4d2a50f4-b8b1-43e5-b566-1f39880f0d51", // The ID of this integration.
            region: "us-east", // The region your integration is hosted in.
            serviceInstanceID: "98ebbc46-ed85-4148-8a67-3a04fd88f18c", // The ID of your service instance.
            onLoad: function(instance) { instance.render(); }
          };
        setTimeout(function(){
          const t=document.createElement('script');
          t.src="https://web-chat.global.assistant.watson.appdomain.cloud/loadWatsonAssistantChat.js";
          document.head.appendChild(t);
        });
  //maps js
  script(src=`https://maps.googleapis.com/maps/api/js?libraries=geometry,places&key=${process.env.GOOGLE_MAP_API_KEY}`)
  script(src='/js/mapsbank.js')