if messages.errors
  .alert.alert-danger.fade.show
    for error in messages.errors
      div= error.msg
if messages.info
  .alert.alert-info.fade.show
    for info in messages.info
      div= info.msg
if messages.success
  .alert.alert-success.fade.show
    for success in messages.success
      div= success.msg
if messages.warning
  .alert.alert-warning.fade.show
    for warning in messages.warning
      div= warning.msg
