footer.footer.sized
  .content
    .container
      .row
        .col-md-5.col-sm-12.footer-center.text-left
          img.mb-2(src='/images/menorca logo.svg'  style = 'height: 3rem')
          //p.mt-3 Av. Javier Prado Este 488 (Torre Orquídeas) 
          //p San Isidro.
        .col-md-3.col-sm-12.text-left
          h5 
          ul(style='list-style-type: none;').p-0
            li.pt-2 
              a(target='_blank' href='https://menorca.pe').text-white Visita la web Menorca
            li.pt-2
              a(target='_blank' href='/cotizaciones').text-white Mis construcciones
            li.pt-2
              a(target='_blank' href='https://menorca.sperant.com/extranet/sign_in').text-white Ir al portal del propietario
            li.pt-2
              a(target='_blank' href='/doc/VENTANA MENORCA_Manual de uso del portal de propietario.pdf').text-white Manual del portal del propietario
            li.pt-2
              a(target='_blank' href='/preguntas-frecuentes').text-white Preguntas frecuentes
            li.pt-2
              a(target='_blank' href='https://ventanamenorca.s3.us-east-2.amazonaws.com/Te%CC%81rminos+y+condiciones+de+uso+de+la+plataforma+Ventana+Menorca.pdf').text-white Términos y Condiciones
            li.pt-2
              a(target='_blank' href='https://ventanamenorca.s3.us-east-2.amazonaws.com/Po%CC%81liticas+de+proteccio%CC%81n+de+datos.pdf').text-white Política de protección de datos
            li.pt-2
              a(target='_blank' href='https://ventanamenorca.s3.us-east-2.amazonaws.com/Disclaimer+Guardia%CC%81n+Constructor.pdf').text-white Guardián Constructor
        .col-md-4.col-sm-12.text-left
          h5 Servicio al cliente Menorca
          ul(style='list-style-type: none;').p-0
            li.pt-2 
              i.fa.fa-phone(style="margin-right:5px;")
              |   (01) 203 2828 opc. 3
            li.pt-2   
              i.fa.fa-envelope(style="margin-right:5px;" )
              |   atencion.clientes@menorca.com.pe
            li.pt-2
              i.fa.fa-map-marker(style="margin-right:5px;")
              |   Av. Javier Prado Este 488 (Torre Orquídeas), San Isidro.
          h5 Síguenos
          .btn-group.social-group.btn-group-icons
            a(target='_blank' href='https://www.facebook.com/menorcalotes' data-social='share-facebook').footer-socials
              i.fab.fa-facebook-f
            a(target='_blank' href='https://www.youtube.com/c/MENORCAINVERSIONES' data-social='share-youtube').footer-socials
              i.fab.fa-youtube
            a(target='_blank' href='https://instagram.com/menorcainversiones?igshid=10cetn29cdmvu' data-social='share-instagram').footer-socials
              i.fab.fa-instagram
            a(target='_blank' href='https://tiktok.com/@menorcainversiones' data-social='share-tiktok').footer-socials
              i.fab.fa-tiktok
            a(target='_blank' href='https://pe.linkedin.com/company/menorca-inversiones-s-a-c' data-social='share-linkedIn').footer-socials
              i.fab.fa-linkedin         
    hr
    .row
      .col-md-12.text-center
        | &copy; 2020 Menorca - &amp; diseñado por  
        a(href='#') Starter
        |  | Todos los derechos reservados 
