extends ../layout

block content
  #frequent-questions.page-wrapper: .container-fluid: .row: .col-12
    .card
      .card-body
        h3.my-4.title-primary2.card-title.text-center Preguntas frecuentes
        .row.align-items-center.mb-4
          .col-md-8.d-flex.flex-column.flex-md-row
            input.form-control.my-2(type="text" placeholder='Busca tu pregunta frecuente' v-model.lazy='search.questionTitle')
            .mx-3
            select.form-control.my-2(v-model='search.questionCategory')
              option(value='' selected) Todas las categorías
              option(v-for='questionsCategory in questionsCategories' :key='questionsCategory._id' :value='questionsCategory._id')
                | {{ questionsCategory.name }}
        #accordian-part: #accordian-1
          div(v-if='frequentQuestions.length != 0')
            .card.mb-3(v-for="(frequentQuestion, index) in frequentQuestions" :key="frequentQuestions._id" style="box-shadow: none;")
              .card-header.bg-white
                h5.mb-0
                  a#heading.collapsed.link(href='#' data-toggle='collapse' :data-target='"#fq" + frequentQuestion._id' aria-expanded='true' aria-controls='collapse1')
                    | {{ frequentQuestion.question }}
                    i.fa.fa-angle-down(style="float: right" href='#' data-toggle='collapse' :data-target='"#fq" + frequentQuestion._id' aria-expanded='true' aria-controls='collapse7')
              .collapse(:id='"fq" + frequentQuestion._id' aria-labelledby='heading' data-parent='#accordian-1' class=(questionId==='C1'?'show':''))
                .card-body(v-html='frequentQuestion.answer')
          div(v-else)
            .card.my-5(style="box-shadow: none;")
              .card-header.bg-white.text-center
                h5.mb-0 No hay preguntas frecuentes para mostrar
        .row.py-3: .col-12.d-flex.justify-content-center
          .mx-1(v-for='pageListItem in pagesList' :key='"page" + pageListItem')
            a.btn(href='javascript:void(0)' @click='getFrequentQuestions(pageListItem)' :class='[ isActualPage(pageListItem) ? "btn-primary" : "btn-outline-primary" ]') {{ pageListItem }}
