header.topbar
  nav.navbar.top-navbar.navbar-expand-md.navbar-dark
    .navbar-header
      a.nav-toggler.waves-effect.waves-light.d-block.d-md-none(href='javascript:void(0)')
        i.ti-menu.ti-close
      a.navbar-brand(href='/')
        b.logo-icon
          img.dark-logo(src='/images/menorca-logo.png' alt='homepage')
          img.light-logo(src='/images/menorca-logo.png' alt='homepage')
        span.logo-text
          img.dark-logo(src='/images/menorca-text.png' alt='homepage')
          img.light-logo(src='/images/menorca-text.png' alt='homepage')
      a.topbartoggler.d-block.d-md-none.waves-effect.waves-light(href='javascript:void(0)' data-toggle='collapse' data-target='#navbarSupportedContent' aria-controls='navbarSupportedContent' aria-expanded='false' aria-label='Toggle navigation')
        i.ti-more
    #navbarSupportedContent.navbar-collapse.collapse
      ul.navbar-nav.mr-auto.float-left
        li.nav-item
          a.nav-link.sidebartoggler.d-none.d-md-block.waves-effect.waves-dark(href='javascript:void(0)')
            i.ti-menu
      ul.navbar-nav
        if (!user)
          li.nav-item
            a.nav-link.waves-effect.waves-dark(href='/login')
              strong(class=(title == 'Login' ? 'text-primary' : '')) Ingresar
          li.nav-item
            - console.log(title)
            a.nav-link.waves-effect.waves-dark(href='/signup')
              strong(class=(title == 'Create Account' ? 'text-primary' : '')) Registrarme
        //if (user)
          li.nav-item.d-flex.align-items-center
            a.btn.btn-success.btn-menorca.mr-1.ml-1(href='https://menorca.pe' style=" width:100%;padding: 0.5 1rem; font-size: 1rem; font-weight: 500;" target='_blank')
              strong Visita la web Menorca
        if (user)
          li.nav-item.dropdown.d-flex.justify-content-center
            a.nav-link.dropdown-toggle.waves-effect.waves-dark(href='' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false').d-flex.align-items-center
              img.profile-pic(src="/images/icons/usuario.svg",style="height:1.75rem; margin-top:6.5px; margin-bottom:6.5px; margin-right:5.5px; margin-left:5.5px", alt="")
              -let name = user.profile.name.split(' ')
              strong.ml-1 Bienvenido(a) #{name[0]+' '+(name[3]?name[3]:'') || user.email}
            .dropdown-menu.mailbox.dropdown-menu-right.scale-up
              ul.dropdown-user.list-style-none
                li.user-list
                  a.px-3.py-2(href='/account') 
                    img.ml-1.mr-1(src="/images/icons/usuario.svg",style="height:1.2rem", alt="")
                    |   Ver perfil
                li.user-list
                  a.px-3.py-2(href='https://menorca.sperant.com/portal' target='_blank') 
                    |   Ir al portal del propietario
                li.user-list
                  a.px-3.py-2(href='/doc/VENTANA MENORCA_Manual de uso del portal de propietario.pdf' target='_blank') 
                    |   Manual del portal del propietario 
                li.dropdown-divider(role='separator').mt-0
                li.user-list
                  a.px-3.py-2(href='/logout')  
                    img.ml-1.mr-1(src="/images/icons/cerrar-sesion.svg",style="height:1.2rem", alt="")
                    |   Cerrar sesión
