extends ../layout

block content
  .page-wrapper
    .container-fluid
      .row: .col-12: .card: .card-body
        .row
          .col-12.mb-4
            .card-title
              h2.title-primary2 Estado de registro de letras
            hr
          .col-12.col-md-8.offset-md-2
            .card
              .card-header.bg-white
                h3 Respuesta cavali
              .card-body
                if message && message!=""
                  | #{message}
            
    