@font-face {
  font-family: 'Open-Sans';
  src: url("/fonts/OpenSans-Regular.ttf") format("truetype");
  font-style: normal;
}


/* GLOBAL */
.cursor-pointer {
  cursor: pointer;
}

/* DEBUG */
.boundary {
  color: red;
  background-color: red;
}

/* GLOBAL SPACER TO AVOID THE TOP MENU BAR */
.pd-header {
  padding-top:104px
}

/* GLOBAL */

.text-black {
  color: black;
}
.text-white {
  color: white;
}

.text-primary {
  color: #008533 !important;
}

.text-primary2 {
color: #78ad25;
}

.bkg-primary {
  background-color: #008533;
}

.bkg-primary2 {
  background-color:#78ad25;
}

.bkg-white {
  background-color: white;
}

.border-primary {
  border: 1px solid #008533;
  border-radius: 4px;
}

.border-primary2 {
  border: 1px solid #78ad25;
  border-radius: 4px;
}

.title-primary {
  color: #008533;
  font-size: 2rem;
  font-weight: 900;
}

.title-primary2 {
  color: #158A2F;
  font-size: 2rem;
  font-weight: 900;
}

.display-none {
  display: none;
}

.h-6rem {
  height: 6rem !important;
}

.h-2rem {
  height: 2rem !important;
}

.back-btn {
  margin-right: 2em;
}

/* INMUEBLES STYLE */

.img-placeholder {
  height: 80%;
  width: 100%;
  background-color: rgb(114, 110, 110);
}

.project-img {
  width: 100%;
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
}

/* ESTADOCUENTA STYLE */
.bckg-white {
  background-color:rgb(245, 245, 245);
}

.txt-bold {
  font-weight: bold;
}

.completed {
  color: green;
}

.expired {
  color: red;
}

/* ADMIN REFERENCE DETAILS */
#status-select:focus {
  background-color: #78ad25;
  background-clip: padding-box;
  border: 1px solid #e9ecef;
  border-radius: 4px;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}



/* BOOTSTRAP REPLACE */
.d-inline-block {
  display: inline-block;
}

.d-flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.flex-row {
  flex-direction: row;
}

.align-self-end {
  align-self: flex-end;
}
.align-self-center {
  align-self: center;
}

.justify-content-end {
  justify-content: flex-end;
}
.justify-content-between{
  justify-content: space-between;
}
.justify-content-evenly{
  justify-content: space-evenly;
}

.text-end {
  text-align: end;
}

.text-center {
  text-align: center;
}

.text-start {
  text-align: start;
}

.mr-auto{
  margin-right: auto;
}
/* height percent */
.hp-100 {
  height: 100%;
}
/*ggino*/
.table-action-btn{
  display: none !important;
}
.border-bot{
  border-bottom: 3px solid sandybrown;
  margin-bottom: 1em;
}

.box_feat {
  background-color: #fff;
  padding: 165px 45px 20px 45px;
  text-align: center;
  position: relative;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.1);
  margin-bottom: 25px;
}
.box_feat h4 {
  text-transform: uppercase;
  margin-top: 25px;
  color: #158c30;
}
.box_feat#icon_1 {
  background: #fff url(../images/icon-home-1.svg) no-repeat center 45px;
}
.box_feat#icon_2 {
  background: #fff url(../images/icon-home-2.svg) no-repeat center 45px;
}
.box_feat#icon_3 {
  background: #fff url(../images/icon-home-3.svg) no-repeat center 45px;
}
.box_feat span {
  position: absolute;
  top: 50%;
  right: -48px;
  margin: -42px 0 0 0;
  width: 70px;
  height: 70px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
  border: 2px solid #ededed;
  background: #fff url(../images/arrow-gray-1.svg) no-repeat center center;
  display: block;
  z-index: 9;
}

.cube{
  margin: 0;
  min-height: calc(100vh - 358px);
  padding-top: 70px;
}
tbody tr:hover{
  text-decoration: underline !important;
  color:#78ad25 !important;
}
tbody tr.nohover:hover{
  text-decoration: none !important;
  color:#67757c !important;
}
tbody tr.nohover2:hover{
  text-decoration: none !important;
}


/*TU ESTILO NEUTRON MATO MI TINY (RICHTEXT, CAMBIALO PARA QUE SEA CLASE)*/
/*RESPONSE: NOPE*/
/* svg {
  width: 70px;
  height: 70px;
}
svg:hover {
  fill: red;
} */
.sucursales{
  padding:60px 0;
}

.news-header {
  font-size: 1.5em!important;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.align-items-start {
  align-items:flex-start;
}

@media(min-width: 768px) {
  .news-header {
    font-size: 2.25rem!important;
  }
  .w-md-25 {
    width: 25%!important;
  }
  .align-items-md-center {
    align-items:center;
  }
}

@media (max-width:768px){
  .sucursales{padding:0 0 30px 0}}
.sucursales .item__sucursal{
  min-height:310px;
  background-color:#fff;
  -webkit-box-shadow:0 5px 20px rgba(0, 0, 0, 0.1);
  box-shadow:0 5px 20px rgba(0, 0, 0, 0.1);
  -webkit-transition:all .5s;
  -o-transition:all .5s;
  transition:all .5s;
  margin-bottom:30px}
.sucursales .item__sucursal.edition{
  background-color:#293C67}
.sucursales .item__sucursal.edition .sucursal-top{
  color:#fff;font-weight:600}
.sucursales .item__sucursal.edition .sucursal-info{
  color:#fff}
.sucursales .item__sucursal.edition .sucursal-info a{
  color:#fff}
@media (max-width:768px){
  .sucursales .item__sucursal.edition .phone-contacto{
    background:#fff;border-color:#293C67}
  .sucursales .item__sucursal.edition .phone-contacto a{
    color:#293C67!important}}
.sucursales .item__sucursal.edition .i-white{
  display:block!important;
  height:23px}
.sucursales .item__sucursal.edition .i-color{
  display:none}
.sucursales .item__sucursal.principal{
  background-color:#158A2F}
.sucursales .item__sucursal.principal .sucursal-top{
  color:#fff;font-weight:600}
.sucursales .item__sucursal.principal .sucursal-info{
  color:#fff}
.sucursales .item__sucursal.principal .sucursal-info a{
  color:#fff}
@media (max-width:768px){
.sucursales .item__sucursal.principal .phone-contacto{
  background:#fff}
.sucursales .item__sucursal.principal .phone-contacto a{
  color:#158A2F!important}}
.sucursales .item__sucursal:hover{
  -webkit-transform:translateY(-10px);
  -ms-transform:translateY(-10px);
  transform:translateY(-10px);
  -webkit-box-shadow:0 10px 50px -10px rgba(0, 0, 0, 0.2);
  box-shadow:0 10px 50px -10px rgba(0, 0, 0, 0.2)}
.sucursales .item__sucursal .sucursal-top{
  padding:20px 0;text-align:center;
  border-bottom:solid 1px #f1f1f1;
  color:#158A2F;font-weight:600;
  font-size:18px}
.sucursales .item__sucursal .sucursal-info{
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  -webkit-box-pack:start;
  -ms-flex-pack:start;
  justify-content:flex-start;
  -webkit-box-align:start;
  -ms-flex-align:start;
  align-items:flex-start;
  -webkit-box-orient:vertical;
  -webkit-box-direction:normal;
  -ms-flex-direction:column;
  flex-direction:column;
  padding:20px}
.sucursales .item__sucursal .sucursal-info div{
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  -webkit-box-pack:start;
  -ms-flex-pack:start;
  justify-content:flex-start;
  -webkit-box-align:center;
  -ms-flex-align:center;
  align-items:center}
  .sucursales .item__sucursal .sucursal-info div:not(:last-child){
    margin-bottom:20px}
  .sucursales .item__sucursal .sucursal-info p{
    line-height:20px;font-weight:100}
  .sucursales .item__sucursal .sucursal-info .i-white{
    display:none}
  .sucursales .item__sucursal .sucursal-info img{
    padding-right:20px}
  .onboarding{
    padding:80px 0;
  }

@media (max-width: 991px) {
  .box_feat span {
    /* For less than 991px */
    top: 100%;
    left: 50%;
    margin: -20px 0 0 -35px;
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
  }
}

/* MAP STYLES*/
.map {
    width: 100%;
    height: 100%;
}

.nearmap {
    width: 100%;
    height: 75vh;
}

@media (max-width: 576px) {
  .table-txt-responsive {
    font-size: 0.7rem;
  }
}


.footer-socials{
  color: #fff;
  margin-left: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 30px;
  height: 30px;
  border: solid 1px #fff;
  border-radius: 50%;
  -webkit-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s;
}
@media (max-width: 768px){
  .footer-socials {
    border: solid 1px #fff;
    margin: 0 5px;
    width: 35px;
    height: 35px;
    font-size: 18px;
    background-color: #fff;
    color: #158A2F;
  }
}
#WACContainer.WACContainer button.WAC__button--primary:enabled{
  background-image: url("../images/Grupo_5.svg") !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;
}
svg.WACLauncher__svg{
  display: none !important;
}
#WACContainer.WACContainer button.WACLauncher__Button.WAC__button--base,#WACContainer.WACContainer .WACLauncher__ButtonContainer {
  border-radius: 50px !important;
}
.strong{
  font-weight: 1000 !important;
}
.responsiveNone{
  display: block;
}
.responsiveBlock{
  display: none;
}
@media(max-width: 768px) {
  .responsiveNone{
    display: none;
  }
  .responsiveBlock{
    display: block;
  }
}

.disclaimer {
  font-size: 0.7em;
  padding: 8px .375rem;
}

.custom-dropdown-menu {
  max-height: 40vh;
  overflow-y: auto;
}

/* SHiMMER EFFECT */
.shimmer-line-lg {
  height: 2.5rem;
  border-radius: 8px;
  background-color: #f6f7f9;
}

.shimmer-line-sm {
  height: 1.5rem;
  border-radius: 8px;
  background-color: #f6f7f9;
}

.shimmer-table-3 {
  height: 192px;
  background-color: #f6f7f9;
}

.shimmer {
  background-image: linear-gradient(90deg,#f6f7f9 0,#e9ebee 20%,#f6f7f9 40%,#f6f7f9);
  background-size: 99% 100%;
  background-repeat: no-repeat;
  animation: shimmer 1s linear 1ms infinite backwards;
  --webkit-animation: shimmer 1s linear 1ms infinite backwards;
}

@keyframes shimmer {
  0% {
    background-position: 500% 100%;
  }

  100% {
    background-position: 10000% 100%;
  }
}

/* ADMIN METRICS */
.metric-card {
  border: 2px solid #158A2F;
  border-radius: 8px;
  height: 100%;
  padding: 16px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.metric-card-value {
  color: #158A2F;
  font-size: 2em;
}